.container {
    margin: 100px auto;
    display: grid;
    width: 400px; 
    height: 400px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px); 
    grid-gap: 6px;
}

.item {
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-image: url("./img/rainbow.jpeg");
    background-size: cover;
}