.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #333;
    padding: 4px;
    border-radius: 10px;
    grid-gap: 4px;
}

.item {
    padding: 20px;
    background-color: #80cbc4;
    text-align: center;
}
